.chat-header {
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.chat-inf {
  display: flex;
}
.chat-user {
  width: 2.2rem;
  height: 2.2rem;
}
.chat-user img {
  width: 100%;
  height: 1005;
}
