* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #7c3aed;
  --primary-hover: #4c51bf;
}

html,
body {
  width: 100%;
  height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
  /* font-family: var(--font-family);
  background-color: var(--bg-app);
  color: var(--text-main); */
  overflow: hidden; /* Ngăn scroll toàn trang, chỉ scroll trong từng cột nhỏ */
  -webkit-font-smoothing: antialiased; /* Giúp chữ mịn hơn trên màn hình*/
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}
input {
  font-family: inherit;
  outline: none;
}
